/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#map {
  width: auto;
  height : auto;
}
.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f3e3d3
  }
  #map {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    width: 330px;
    height: 330px;
  }
    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
        margin-bottom: 5px;
    }
    .mapboxgl-marker {
      top: -20px;
    }


    .names-nav {
      text-align: center;
      position: relative;
    }
.navbar {
  height: 120px;
}
.boyfriend {
  position: absolute;
  top: -50px;
  right: -10px;
  font-size: 24px;
  width: 200px;
  text-align: end;
  font-family: 'Chocolate', sans-serif;

}
.conect {
  position: absolute;
  top: -35px;
  font-size: 48px;
  left: 0px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.girlfriend {
  position: absolute;
  top: 10px;
  font-size: 24px;
  width: 200px;
  left: 30px;
  text-align: start;
  font-family: 'Chocolate', sans-serif;
  /* margin-bottom: 10px; */
}
.names-nav {
  background-color: blueviolet;
}

li {
  list-style: none;
  display: inline;
  align-items: center;
}
.hr {
  position: absolute;
  top: 50px;
}

/* .row-link {
  position: absolute;
  top: 120px;
  display: flex;
  align-items: center;

} */
.navbar {
  border-bottom: 1px solid #A4A174;
  height: 100px;
}

.img-ppl {
  height: 500px;
  display: flex;
  justify-content: end;
  background-color: #ffffff;
  position: relative;
  background-image: url('../images/flor4.jpg');
  background-size: auto;

}
.img-ppal img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.carrousel-photo {
  background-image: url('../images/flor8.png');
  background-size: inherit;
  margin-top: 60px;
  height: 70vh;
}

.title-ppl {
  position: absolute;
  font-size: 56px;
  left: 100px;
  top: 0%;
  max-width: 50%;
  font-family: 'Chocolate', sans-serif;
  /* font-weight: 900; */
}
.img-date {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: bottom;
}
#first {
  object-fit: cover;
  object-position: top;
}
.col-day {
  position: relative;
}
.day {
  position: absolute;
  font-size: 200px;
  color: #ffffff;
  bottom: 8px;
  left: 80px;
  font-family: 'Calistoga', cursive;
}
.col-month {
  position: relative;
}
.month {
  position: absolute;
  font-size: 200px;
  color: #ffffff;
  bottom: 8px;
  left: 70px;
  font-family: 'Calistoga', cursive;
}
.col-year {
  position: relative;
}
.year {
  position: absolute;
  font-size: 200px;
  color: #ffffff;
  bottom: 8px;
  left: 70px;
  font-family: 'Calistoga', cursive;
}

#heart {
  position: relative;
}
#heart-2 {
  position: relative;
}


.corazon {
  animation: latido 1s infinite;
  background-color: #E8B08C;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50px;
  z-index: -100;
}

.corazon:before,
.corazon:after {
  content: "";
  background-color: #E8B08C;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 900;
}

.corazon:before {
  top: -25px;
  left: 0;
}
.posi {
  z-index: 100;
}

.corazon:after {
  left: 25px;
  top: 0;
}

@keyframes latido {
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}

.she {
  border-radius: 50%;
  /* border: 3px solid violet; */
  /* box-shadow:
  inset 0 -3em 3em rgba(231, 25, 186, 0.1),
        0 0  0 2px rgb(203, 28, 162),
        0.3em 0.3em 1em rgba(187, 7, 232, 0.9); */
object-fit: cover;
width: 150px;
height: 150px;

}
.he {
  border-radius: 50%;
  /* border: 3px solid blue;
  box-shadow:
  inset 0 -3em 3em rgba(5, 47, 233, 0.1),
        0 0  0 2px rgb(12, 5, 216),
        0.3em 0.3em 1em rgba(4, 36, 198, 0.9); */
object-fit: cover;
width: 150px;
height: 150px;
}

.conect2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  align-items: center;
  padding: 0px;
  margin: 0px;
}




/* *********************fotos********************* */

.container-foto {
  overflow: hidden;
  /* display: -webkit-box; */
  display: -ms-flexbox;
  /* display: flex; */
  /* background: #fcf9f9; */
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 60vh;
}

#drag-container,
#spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(
    center center,
    farthest-side,
    #9993,
    transparent
  );
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#votos {
  font-size: 32px;
  font-family: 'Always Forever' !important;
  font-weight: 500;
}
.h3-class {
  font-family: 'Mango Salsa', sans-serif;
  font-size: 80px;
}
.subtitulo {
  font-family: 'Chocolate', sans-serif;
  text-align: center;
  font-size: 28px;
}
.signature {
  font-family: 'Paul Signature', sans-serif;
  font-size: 18px;
}
 .form-control {
  font-family: 'Chocolate', sans-serif;
  font-size: 20px;
}
.posi {
  font-family: 'Chocolate', sans-serif;
  font-size: 20px;
}

@font-face {
  font-family: 'London Boutique';
  src: url('../fonts/LondonBoutique_PERSONAL_USE_ONLY.otf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */
}

@font-face {
 font-family: 'bremello';
  src: url('../fonts/bromello-Regular.otf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */
}
@font-face {

  font-family: 'Astral Sister';
  src: url('../fonts/Astral\ Sisters.ttf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */
}

@font-face {
  font-family: 'Homework';
  src: url('../fonts/Homework.otf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */
}
  @font-face {
  font-family: 'Mango Salsa';
  src: url('../fonts/Mango\ Salsa\ -\ Personal\ Use.ttf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */
  }
@font-face {font-family: 'Paul Signature';
  src: url('../fonts/Paul\ Signature.ttf') format('truetype'); */
}

@font-face {
  font-family: 'Always Forever';
  src: url('../fonts/Always\ Forever\ Bold.ttf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */

}
@font-face {
  font-family: 'Chocolate';
  src: url('../fonts/Chocolate.ttf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */

}
@font-face {
  font-family: 'Valentine';
  src: url('../fonts/ValentineSoul.ttf') format('truetype');
  /* Puedes cambiar el formato si la fuente descargada es en otro formato como WOFF o EOT */

}




      /* h3 {
        font-family: 'London Boutique', sans-serif;
        font-family: 'Always Forever', sans-serif;
        font-family: 'bremello', sans-serif;
        font-family: 'Astral Sister', sans-serif;
        font-family: 'Homework', sans-serif;
        font-family: 'Mango Salsa', sans-serif;
        font-family: 'Paul Signature', sans-serif;
      font-family: 'Chocolate', sans-serif;
      font-family: 'Valentine', sans-serif;

      } */
      .album {
        font-family: 'Mango Salsa', sans-serif;
      }
      .celebracion {
        font-family: 'Mango Salsa', sans-serif;
      }
      .dedicatorias {
        font-family: 'Mango Salsa', sans-serif;
      }

/*********************************************** MEDIA QUERY *************************************************/

@media (max-width: 600px) {
  .album {
    font-size: 18px;
    font-family: 'Mango Salsa', sans-serif;

  }
  .celebracion {
    font-size: 18px;
    font-family: 'Mango Salsa', sans-serif;
  }
  .dedicatorias {
    font-size: 18px;
    font-family: 'Mango Salsa', sans-serif;
  }
  .img-ppl {
    height: 300px;
    display: flex;
    justify-content: end;
    background-color: #ffffff;
    background-size:contain;
  }
  .img-ppl img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .title-ppl {
    position: absolute;
    font-size: 20px;
    left: 30px;
    top: 0%;
    max-width: 180px;
    font-family: 'Chocolate', sans-serif;
    /* font-weight: 900; */
}
.day {
  position: absolute;
  font-size: 60px;
  color: #AC7C72 !important
  bottom: -7px;
  left: 38px;
  font-family: 'Calistoga', cursive;
}
.month {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  bottom: -7px;
  left: 38px;
  font-family: 'Calistoga', cursive;
}
.year {
  position: absolute;
  font-size: 60px;
  color: #ffffff;
  bottom: -7px;
  left: 38px;
  font-family: 'Calistoga', cursive;
}
.she {
  width: 90px;
  height: 90px;
  font-size: 6px;

}
.he {

width: 90px;
height: 90px;
font-size: 6px;
}

#votos {
  font-size: 16px;
  font-family: 'Always Forever' !important;
  font-weight: 500;
  line-height: 1; /* Sin espacio entre líneas */
}
.h3-class {
  font-family: 'Mango Salsa', sans-serif;
  font-size: 50px;
  margin-top: 12px;
}
.signature {
  font-family: 'Paul Signature', sans-serif;
  font-size: 12px;
  line-height: 1; /* Sin espacio entre líneas */
}
.carrousel-photo {
  height: auto;
}

}



/* @import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
} */

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #E9D7C2 !important;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #AC7C72 !important;
}
.tex-light {
  color: #E9D7C2 !important;
}
.tex-dark {
  color: #AC7C72 !important;
}
.btn-success {
  color: #fff;
  background-color: #13653f;
  border-color: #A4A174;
}
text-success {
  color: #13653f !important;
}
